@import resetStyle
@import vars
@import fontFace

body
    background-color: $main-background
    color: $color-text
    font-family: 'Open Sans', sans-serif

.container
    max-width: calc( $site-width + $padding-inline * 2 )
    padding-inline: $padding-inline
    margin-inline: auto

.header, .preview, .footer
    background-color: $second-background

.header
    padding-block: 20px

.link
    display: block
    font-size: 16px
    font-weight: 600
    position: relative
    &::before
        content: ''
        display: block
        height: 2px
        width: $width-underline-link-hover
        background-color: $color-text
        position: absolute
        left: -10%
        bottom: 15px
        opacity: 0
        transition: all 0.5s

.nav
    &__list
        display: flex
        justify-content: center
        align-items: center
    &__link
        padding: 20px $padding-inline-link-nav

.text-preface
    color: rgb(58, 104, 184)
    font-size: 18px
    font-weight: 600
    text-transform: uppercase

.preview
    padding-block: 160px 99px
    margin-bottom: 157px
    &__flexbox
        margin-bottom: 197px
    &__info
        max-width: 604px
    &__text-preface
        margin-bottom: 10px
    &__title
        margin-bottom: 40px
    &__text
        margin-bottom: 50px
    &__img
        width: min(100%, 414px)

.title
    font-size: 56px
    font-weight: 800
    line-height: 1.3

.text
    font-size: 16px
    font-weight: 600
    line-height: 1.6
    opacity: 0.7
    &_fs-medium
        font-size: 18px

.flexbox
    display: flex
    align-items: center
    column-gap: 20px
    &_jc-sb
        justify-content: space-between

.buttons-box
    display: flex
    align-items: center
    column-gap: 20px

.button
    display: block
    font-size: 20px
    font-weight: 600
    border-radius: 5px
    background: $button-background
    padding: 15px 30px
    transition: background-color 0.3s
    &_flex
        display: flex
        align-items: center
        column-gap: 10px

.triangle
    display: block
    width: 0
    height: 0
    border-style: solid
    border-width: 13px 0 13px 27px
    border-color: transparent transparent transparent $color-text

.logos-box
    display: grid
    grid-template-columns: repeat(4, 1fr)

.about-product
    margin-bottom: 264px
    &__info
        max-width: 484px
        display: flex
        flex-direction: column
        align-items: flex-start
    &__img
        max-width: 594px
    &__heading
        margin-bottom: 30px
    &__text
        margin-bottom: 50px

.heading
    font-size: 40px
    font-weight: 700
    line-height: 1.3

.subheading
    opacity: 0.7
    font-size: 25px
    font-weight: 700
    line-height: 1.25

.card-block
    margin-bottom: 244px
    &__wrapper
        display: grid
        grid-template-columns: repeat(3, minmax(300px, 362px))
        gap: 30px

.card
    display: flex
    flex-direction: column
    align-items: center
    row-gap: 30px
    padding: 30px
    background-color: $card-bakgound
    text-align: center
    border-radius: 10px
    &_big
        grid-column: 1 / 3
        grid-row: 2 / 4
        row-gap: 60px
    &_big > img
        height: 322px

.about-us
    margin-bottom: 221px
    &__info
        max-width: 548px
    &__heading
        margin-bottom: 20px
    &__text
        margin-top: 20px

.footer
    font-family: 'Roboto', sans-serif
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap
    padding-block: 48px
    &__subtitle
        margin-bottom: 33px
    &__info
        width: 362px
    &__list
        display: flex
        flex-direction: column
        gap: 24px
        &_links-logo
            flex-direction: row
            margin-top: 40px
    &__list-item
        display: flex
        column-gap: 10px
        align-items: center
        font-size: 14px
        font-weight: 500
        line-height: 1.2
    &__text
        font-size: 14px
        font-weight: 300
        line-height: 1.2
        opacity: 0.6
        font-style: italic

.subtitle
    font-size: 16px
    font-weight: 500

@media (min-width: 1025px) and (max-width: 1140px)
    .card-block
        &__wrapper
            gap: 20px

    .card
        padding: 18px

@media (max-width: 1024px)

    .text-preface
        font-size: 16px

    .title
        font-size: 48px

    .preview
        padding-block: 160px 120px

    .flexbox
        flex-wrap: wrap
        row-gap: 124px
        justify-content: center

    .logos-box
        grid-template-columns: repeat(2, 1fr)
        gap: 32px
        justify-items: center

    .about-product__flexbox
        row-gap: 68px

    .card-block
        &__wrapper
            grid-template-columns: repeat(1, minmax(300px, 362px))
            gap: 32px
            justify-content: center

    .card
        &_big
            grid-column: span 1
            grid-row: span 1
            row-gap: 30px

    .about-us
        &__flexbox
            gap: 64px

@media (max-width: 767px)
    $padding-inline-link-nav: 8px

    .header
        padding-block: 10px

    .link
        font-size: 14px

    .nav
        &__link
            padding: 12px $padding-inline-link-nav

    .text-preface
        font-size: 14px

    .title
        font-size: 28px

    .preview
        padding-block: 64px 108px
        margin-bottom: 96px
        &__flexbox
            margin-bottom: 128px
        &__info
            text-align: center
            width: 100%
        &__text-preface
            margin-bottom: 16px
        &__title
            margin-bottom: 64px
        &__text
            margin-bottom: 40px

    .buttons-box
        flex-direction: column
        justify-content: center
        row-gap: 24px

    .logos-box
        grid-template-columns: repeat(1, 1fr)
        gap: 32px

    .about-product
        margin-bottom: 96px
        text-align: center
        &__button
            align-self: center
        &__info
            row-gap: 16px
        &__heading
            margin-bottom: 0
        &__text
            margin-bottom: 0

    .heading
        font-size: 24px

    .card-block
        margin-bottom: 96px

    .about-us
        margin-bottom: 96px
        text-align: center
        &__info
            display: flex
            flex-direction: column
            gap: 16px
        &__heading
            margin-bottom: 0
        &__text
            margin-top: 0

@media (hover: hover)
    .link
        &:hover::before
            left: $padding-inline-link-nav
            opacity: 1

    .button
        &:hover
            background-color: darken($button-background, 10%)

@media (hover: none)
    .link
        &:active
            opacity: 0.7

    .button
        &:active
            background-color: darken($button-background, 10%)
