* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #020A18;
  color: #fff;
  font-family: "Open Sans";
}

.center {
  padding-left: calc(50% - 573px);
  padding-right: calc(50% - 573px);
}

.header, .preview, .footer {
  background-color: #09111e;
}

.header {
  padding-block: 20px;
}

.link {
  display: block;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.link::before {
  content: "";
  display: block;
  height: 2px;
  width: calc(100% - 32px);
  background-color: #fff;
  position: absolute;
  left: -10%;
  bottom: 15px;
  opacity: 0;
  transition: all 0.5s;
}
.link:hover::before {
  left: 16px;
  opacity: 1;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link {
  padding: 20px 16px;
}

.text-preface {
  color: rgb(58, 104, 184);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.preview {
  padding-block: 160px 99px;
}
.preview__flexbox {
  margin-bottom: 197px;
}
.preview__info {
  max-width: 604px;
}
.preview__text-preface {
  margin-bottom: 10px;
}
.preview__title {
  margin-bottom: 40px;
}
.preview__text {
  margin-bottom: 50px;
}
.preview__img {
  max-width: 414px;
}

.title {
  font-size: 56px;
  font-weight: 800;
  line-height: 1.3;
}

.text {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  opacity: 0.7;
}
.text_fs-medium {
  font-size: 18px;
}

.flexbox {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.flexbox_jc-sb {
  justify-content: space-between;
}

.button {
  display: block;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  background: #3A68B8;
  padding: 15px 30px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #2e5291;
}
.button_flex {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.triangle {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 0 13px 27px;
  border-color: transparent transparent transparent #fff;
}

.about-product {
  margin-block: 157px 132px;
}
.about-product__info {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-product__img {
  max-width: 594px;
}
.about-product__heading {
  margin-bottom: 30px;
}
.about-product__text {
  margin-bottom: 50px;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}/*# sourceMappingURL=style.css.map */